html {
    background-color: #0d001e;
    text-align: center;
}

.exo-2-font {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #ac02ea;
    vertical-align: middle;
    /* font-size: 4rem; */
    font-size: 5cqw;
    text-transform: uppercase;
    margin: 0px;
}


.edu-tas-beginner-font {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    /* font-size: 2.5rem; */
    font-size: 2.8cqw;
    margin: 0px;
    margin-left: 20px;
}

.navbar {
    display: block;
    width: 30%;
    border-radius: 10px;
    background: linear-gradient(135deg, #0d001e, #ac02ea);
    justify-self: center;
    padding: 1rem;
    margin-top: 30px;
    box-shadow: #000000 0px 3px 8px;
}

.navsec {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem;
    font-family: 'system-ui', sans-serif;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ffffff; */
    /* height: 35rem; */
    /* border: 1px solid #ffffff; */
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    /* border: 1px solid #ffffff; */
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    /* border: 1px solid #ffffff; */
}

/* .section-container {
    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%;
} */

hr {
    margin: 5px;
    margin-left: 15%;
    width: 40%;
    border: solid .2cqw;
    color: #fff;
    /* align-self: flex-start; */
    /* vertical-align: middle; */
}

#profile {
    width: 55%;
    align-self: flex-start;
    border-bottom: solid 6cqw;
    border-left: solid 1cqw;
    border-right: solid 1cqw;
    border-top: solid 1.5cqw;
    /* border-width: 1.5cqw 1cqw 6cqw 1cqw; */
    border-color: #fff;
    box-shadow: #000000 0px 6px 16px;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#title-container {
    width: 70%;
    container-type: inline-size;
}

#subtitle-container {
    container-type: inline-size;
}

#photo-container {
    width: 30%;
}

/* Responsive: menor a 1400px */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    #photo-container {
        order: -1;
        align-self: center;
        margin-bottom: 1.5rem;
    }

    #title-container {
        width: 100%;
    }

    #profile {
        width: 100%;
    }
}
